<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>小葵花妈妈开课啦~</title>
    <link rel="stylesheet" href="static/css/index.css">
    <style>
        .img_src img {
            width: 300px;
            height: 300px;

        }
    </style>
    <link rel="shortcut icon" href="https://cdn-img.9118bao.com/favicon.ico" type="image/x-icon">
</head>

<body>
    <h1 style="text-align:center">毛片开始喽~ </h1>
    <section>
        <div>
            <span>
                {{name_title[0]}}
            </span><span>
                {{name_paly_src[0]}}
            </span>
        </div>
        <div class="img_src">
            <a href="{{name_paly_src[0]}}" target="_blank">
                <img src="{{name_img_src[0]}}" alt="" srcset="">
            </a>

        </div>
    </section>





</body>

</html>